<div class="section">
  <div class="heading">News and Events</div>
  <!-- .box -->
  <div class="box">
    <div class="border-right">
      <div class="border-bot">
        <div class="left-top-corner">
          <div class="right-top-corner">
            <div class="right-bot-corner">
              <div class="left-bot-corner">
              
               
                <div class="inner">
                                              <% events = Event.find(:all, :limit=>2, :order=>"id desc") %>
                                              <% events.each do |event| %>
                                              <div class="news_box">
                                              <div> <a href="<%= events_path %>#<%= event.id %>" class="news_heading"><%= event.name %></a></div>
                                              <div class="news_date"><%= event.created_at.strftime("%a %d %b, %Y") %> </div>
                                              </div>
                                              <% end %>

                                              <% press_release = Press.find(:all, :limit=>2, :order=>"id desc") %>
                                              <% press_release.each do |press| %>
                                              <div class="news_box">
                                              <div> <a href="<%= presses_path %>" class="news_heading"><%= press.title %></a></div>
                                              <div class="news_date"><%= press.created_at.strftime("%a %d %b, %Y") %> </div>
                                              </div>
                                              <% end %>
                                              <div class="wrapper"></div>
                                            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>





             