 

 <div id="content">
 	<p class='buttons'>
 		
 		<%= link_to  "Add Event", new_admin_event_path, :class => 'button positive' %>
 		</p>
		<p class='clear'></p>
		   

			<table class="admintable">
			  <tr class="admintablehd">
			    <td>Title</td>
			    <td width="32%" style="text-align: center !important;">Action</td>
			  </tr>
			
			<% @events.each do |event| %>
			  <tr>
			    <td><%= event.name %></td>
			    <td style="text-align: center !important;">
			    <%= link_to "Photos", admin_event_event_photos_path(event), :class=>'button positive' %> &nbsp;&nbsp;
			     <%= link_to "Edit", edit_admin_event_path(event), :class=>'button positive' %> &nbsp;&nbsp; 
			     <%= link_to "Delete", admin_event_path(event), :method=> :delete, :confirm => "Are you sure?", :class=>'button negative' %>
				</td>
			    
			  </tr>
			<% end %>
			</table>
			<%= will_paginate  @events %>
			<br />
</div>