<div id="content">

<p><%= @committee.name %></p>
<p><%= @committee.education %></p>
<p><%= @committee.designation %></p>
<p><%= image_tag @committee.photo.url(:thumb) %> </p>
<p><%= @committee.description %></p>

</div>