 <script>
	jQuery(document).ready(function() {
		jQuery(".box_skitter_large").skitter({
			animation: "fade", 
 			dots: true
		});
	});
</script>
<% content_for :styles do %>
<%= stylesheet_link_tag "table.css" ,"jquery.fancybox-1.3.4.css" %>
<% end %>


 	<% content_for :scripts do %>
	<%= javascript_include_tag "jquery.fancybox-1.3.4.pack.js" %>
    <% end %>
    <script type="text/javascript">
		$(document).ready(function() {

			$("a[rel=example_group]").fancybox({
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'titlePosition' 	: 'over',
				'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {
					return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
				}
			});

		});
	</script>
 <div id="content">

      <div class="indent">
        <div class="wrapper">
          <div class="mainContent">
		  

              <div class="wrapper">
           
              <h2>EVENTS</h2>
                 <% @event.each do |event| %>
 
 
                    <div class="extra-wrap">
					
					
					 <h2><a href="#<%= event.id %>"><%= event.name %></a></h2>
<table  border="0" cellspacing="0" cellpadding="0">
 <tr>
   <%  event.event_photos.each do |photo| %>
    <td align="center" valign="middle"><a rel="example_group" href="<%= photo.photo.url(:medium) %>"><%= image_tag photo.photo.url(:thumb) , :class=> "thumb_image"%></a>
    	
    	<br/><%= photo.event.name %>
    </td>
    <% end %>
  </tr>
  
  

  
  
  
</table>







                    </div>
               
               <% end %>
              </div>
           
            
          </div>
          <div class="aside">
		  
		  
		        <%= render "/main/recent_news" %>
            

          </div>
        </div>
      </div>
    </div>
