<% content_for :styles do %>
 <%= stylesheet_link_tag "table"%> 
<% end %>

<!-- content -->
    <div id="content">

      <div class="indent">
        <div class="wrapper">
          <div class="mainContent">
		  

              <div class="wrapper">
           
              <h2><%= @committee_type.title %></h2>
                 
                    <div class="extra-wrap">
  <table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="left" valign="top"><strong>S.No </strong></td>
    <td align="left" valign="top"><strong>Photo</strong></td>
    <td align="left" valign="top"><strong>NAME OF DIRECTORS</strong></td>
    <td align="left" valign="top"><strong>POST</strong></td>
    <td align="left" valign="top"><strong>PH. No.</strong></td>
  </tr>
  <% members = Committee.find_all_by_committee_type_id(@committee_type.id, :order=>"id asc").paginate(:per_page => 2, :page => params[:page]) %>
  <% members.each do |member| %>
  <tr>
    <td align="left" valign="top"><%= member.id %></td>
    <td align="left" valign="top">
       
      <% if member.photo.url(:thumb) == "/photos/thumb/missing.png" %> 
      		<img src="/assets/avatar.jpg" alt="" width="100" height="100" class="avatar" />
      <% else %>
      		<%= image_tag member.photo.url(:thumb), :class=>"avatar" %>
      <% end %>
    
    </td>
    <td align="left" valign="top"><strong><%= member.name %></strong><br />
      <%= member.address.html_safe %>
    <td align="left" valign="top"><strong><%= member.designation %></strong></td>
    <td align="left" valign="top"><p><%= member.contact_info.html_safe %></td>
  </tr>
 
  <% end %>
    
    
</table>
      <p><%= will_paginate members, :class=>'pagination_magArticles' %></p>

                    </div>
               
               
              </div>
           
            
          </div>
          <div class="aside">
		 
		  
		  
		  
		 <div id="londontabs" class="widget">

<div id="tabsheader" class="tabsheader">

<ul class="tabnav ui-tabs-nav">
<li class="ui-tabs-selected"><a href="#markettab">Markets</a></li>
<li class=""><a href="#recenttab">Banking</a></li>
<li class=""><a href="#commentstab">Economy</a></li>
<li class="tagslast"><a href="#tagtab" class="tagslast">Companies</a></li>
</ul>

</div>

<div id="markettab" class="tabdiv ui-tabs-panel" style="">
<div class="tab_inside">
<a href="#"><img src="/assets/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>


<div class="tab_inside">
<a href="#"><img src="/assets/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>


<div class="tab_inside">
<a href="#"><img src="/assets/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>

<div class="tab_inside no_border_bottom">
<a href="#"><img src="/assets/thumb_013.png" alt="How to setup business meetings"></a>
<div class="content">
<h1><a href="#">How to setup business meetings</a></h1> 
<span class="date">February 03,  2011</span>
</div>
</div>
</div>



<div style="" id="recenttab" class="tabdiv ui-tabs-panel ui-tabs-hide">
<div class="tab_inside">
<a href="#"><img src="/assets/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>

<div class="tab_inside no_border_bottom">
<a href="#"><img src="/assets/thumb_013.png" alt="How to setup business meetings"></a>
<div class="content">
<h1><a href="#">How to setup business meetings</a></h1> 
<span class="date">February 03,  2011</span>
</div>
</div>

</div>

<div style="" id="commentstab" class="tabdiv ui-tabs-panel ui-tabs-hide">

<div class="tab_inside">
<a href="#"><img src="/assets/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>

<div class="tab_inside no_border_bottom">
<a href="#"><img src="/assets/thumb_013.png" alt="How to setup business meetings"></a>
<div class="content">
<h1><a href="#">How to setup business meetings</a></h1> 
<span class="date">February 03,  2011</span>
</div>
</div>
</div>

<div style="" id="tagtab" class="tabdiv ui-tabs-panel ui-tabs-hide">

<div class="tab_inside">
<a href="#"><img src="/assets/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>

<div class="tab_inside no_border_bottom">
<a href="#"><img src="/assets/thumb_013.png" alt="How to setup business meetings"></a>
<div class="content">
<h1><a href="#">How to setup business meetings</a></h1> 
<span class="date">February 03,  2011</span>
</div>
</div>

</div>


</div> 
		  
		  
		  
		  
		  
		  
		  
		  
            <div class="section">
              <div class="heading">News and Events</div>
              <!-- .box -->
              <div class="box">
                <div class="border-right">
                  <div class="border-bot">
                    <div class="left-top-corner">
                      <div class="right-top-corner">
                        <div class="right-bot-corner">
                          <div class="left-bot-corner">
                            <div class="inner">
                              <dl class="list3">
                                <dt><strong>07/05/2010</strong> Gifts &amp; Novelties</dt>
                                <dd>Accusantium doemque laudantot aperiam, eaque ipsa quaein...<a href="#">&gt;&gt;</a></dd>
                                <dt><strong>08/06/2010</strong> Network Marketing</dt>
                                <dd>Accusantium doemque laudantot aperiam, eaque ipsa quaein...<a href="#">&gt;&gt;</a></dd>
                                
                              </dl>
                              <div class="wrapper"><a href="#" class="button">More &raquo;</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box -->
            </div>
            

          </div>
        </div>
      </div>
    </div>